<p id="notice"><%= notice %></p>

<!-- <h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Para</th>
      <th colspan="3"></th>
    
  </thead>

  <tbody>
    <% @users.each do |user| %>

      <tr>

        <td><%= user.username %></td>
        <td><%= link_to 'Ver mensajes', message_user_path(user.id)%></td>
 
      </tr>
    <% end %>
  </tbody>
  
</table> -->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="row chats-row">
          <div class="col-md-12">
              <% @users.each do |user| %>
              <div class="list-group-item">
                <%= link_to user.username, message_user_path(user.id)%>
                </div>

               <% end %>       
        </div>
      </div>
    </div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
            
            <div class="row current-chat-area">
                <div class="col-md-12">
                      <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634">
                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br>
                                       <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr>
                                    </div>
                                </div>
        
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/2733968/48/1470773158079">
                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br>
                                       <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634">
                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br>
                                       <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" src="https://app.teamsupport.com/dc/1078/UserAvatar/2733968/48/1470773158079">
                                    </a>
                                    <div class="media-body">
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br>
                                       <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>  
                </div>
            </div>
            <div class="row current-chat-footer">
            <div class="panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Send</button>
                  </span>
                </div>
                </div>
            </div>
    </div>
  </div>
</div>
