/* line 4, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.container_high {
  border-radius: 20px 20px 0px 0px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: lightgrey;
  background: #f1f3f6;
}

/* line 11, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.container_center {
  border-radius: 0px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: lightgrey;
  background: #f1f3f6;
}

/* line 18, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.container_low {
  border: 1px solid lightgrey;
  background: #e5eaf2;
  border-radius: 0px 0px 20px 20px;
}

/* line 23, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.container_radius {
  border-radius: 20px;
}

/* line 26, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.list-group-item:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* line 30, /home/jose/Proyecto-final/pethost/app/assets/stylesheets/users.scss */
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
